In [2]:
# import pandas
import pandas as pd
from pathlib import Path

# set path
school_data_to_load = Path(r"C:\Users\Madelyn Zelaya\Desktop\Starter_Code\PyCitySchools\Resources\schools_complete.csv")
student_data_to_load = Path(r"C:\Users\Madelyn Zelaya\Desktop\Starter_Code\PyCitySchools\Resources\students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load,engine='python')
student_data = pd.read_csv(student_data_to_load,engine='python')

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
#Number of Unique Schools
unique_schools = school_data_complete['school_name'].nunique()
print(f'Total number of unique schools is: {unique_schools}')

Total number of unique schools is: 15

In [5]:
#Number of Total Students
student_count = school_data_complete['student_name'].count()
print(f'Total Number of Students is: {student_count}')

Total Number of Students is: 39170

In [6]:
#Calculate total budget
total_budget = school_data_complete['budget'].sum()
print(f'The total budget is: ${total_budget:.2f}')

The total budget is: $82932329558.00

In [7]:
#Calculate Average math score
average_math_score = school_data_complete['math_score'].mean()

print(f'The average math score is: {average_math_score:.2f}')

The average math score is: 78.99

In [8]:
#average of reading score
average_reading_score = school_data_complete['reading_score'].mean()

print(f'The average reading score is: {average_reading_score:.2f}')

The average reading score is: 81.88

In [11]:
# % passing math (the percentage of students who passed math)

passing_math_score = school_data_complete[school_data_complete['math_score'] >= 70]

percentage_passed_math = (passing_math_score.shape[0] / school_data_complete.shape[0])* 100

print(f'The percentage of students who passed math is: {percentage_passed_math:.2f}%')

The percentage of students who passed math is: 74.98%

In [12]:
# % passing reading 

passing_reading_score = school_data_complete[school_data_complete['reading_score'] >= 70]

percentage_passed_reading = (passing_reading_score.shape[0] / school_data_complete.shape[0]) * 100

print(f'The percentage of students who passed reading is: {percentage_passed_reading:.2f}%')

The percentage of students who passed reading is: 85.81%

In [13]:
# % overall passing (the percentage of students who passed math AND reading)

overall_passing_score = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]

percente_overall_score = (overall_passing_score.shape[0] / school_data_complete.shape[0]) * 100

print(f'Overall passing percentage: {percente_overall_score:.2f}% ')

Overall passing percentage: 65.17%

In [14]:
# district DataFrame
district_summary = pd.DataFrame({'Total Schools':[school_data_complete['school_name'].nunique()],
                                'Total Students':[school_data_complete['Student ID'].nunique()],
                                'Total Budget':[school_data_complete['budget'].sum()],
                                'Average Math Score': [school_data_complete['math_score'].mean()],
                                'Average Reading Score': [school_data_complete['reading_score'].mean()],
                                '% Passing Math':[((school_data_complete['math_score'] >=70).mean()) * 100],
                                '% Passing Reading': [((school_data_complete['reading_score'] >= 70).mean()) * 100],
                                '% Overall Passing': [((overall_passing_score.shape[0] / school_data_complete.shape[0]) * 100)]})


district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)


district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [15]:
## School Summary

In [16]:
# Use the code provided to select all of the school types
school_types = school_data_complete['type'].nunique()

print(f'Currently there is: {school_types} school types')

Currently there is: 2 school types

In [17]:
# Calculate the total student count per school
student_count = school_data_complete.groupby('school_name').size()

print(student_count)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
dtype: int64

In [18]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.groupby('school_name')['budget'].sum()

per_school_counts = school_data_complete['school_name'].value_counts()

per_school_capita = per_school_budget / per_school_counts

print(per_school_budget)
print(per_school_capita)

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

In [19]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby('school_name')['math_score'].mean()
per_school_reading = school_data_complete.groupby('school_name')['reading_score'].mean()

print(f'Average of math score per school: {per_school_math.mean():.2f}')
print(f'Average of reading score per school: {per_school_reading.mean():.2f}')

Average of math score per school: 80.43
Average of reading score per school: 82.53

In [20]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
school_students_passing_math = students_passing_math.groupby('school_name').size()

print(students_passing_math)

       Student ID     student_name gender grade         school_name  \
0               0     Paul Bradley      M   9th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
8               8     Michael Roth      M  10th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
0                 66          79          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
8                 95          87          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[29370 rows x 11 columns]

In [21]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
school_students_passing_reading = students_passing_reading.groupby('school_name').size()

print(students_passing_reading)

       Student ID     student_name gender grade         school_name  \
1               1     Victor Smith      M  12th   Huang High School
2               2  Kevin Rodriguez      M  12th   Huang High School
4               4       Bonnie Ray      F   9th   Huang High School
5               5    Bryan Miranda      M   9th   Huang High School
6               6    Sheena Carter      F  11th   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F  12th  Thomas High School
39166       39166        Dawn Bell      F  10th  Thomas High School
39167       39167   Rebecca Tanner      F   9th  Thomas High School
39168       39168     Desiree Kidd      F  10th  Thomas High School
39169       39169  Carolyn Jackson      F  11th  Thomas High School

       reading_score  math_score  School ID      type  size   budget
1                 94          61          0  District  2917  1910635
2                 90          60          0  District  2917  1910635
4                 97          84          0  District  2917  1910635
5                 94          94          0  District  2917  1910635
6                 82          80          0  District  2917  1910635
...              ...         ...        ...       ...   ...      ...
39165             99          90         14   Charter  1635  1043130
39166             95          70         14   Charter  1635  1043130
39167             73          84         14   Charter  1635  1043130
39168             99          90         14   Charter  1635  1043130
39169             95          75         14   Charter  1635  1043130

[33610 rows x 11 columns]

In [22]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [23]:

# Sort by '% Overall Passing' in descending order
sorted_district_summary = district_summary.sort_values('% Overall Passing', ascending=False)

# Display the top 5 rows
top_5_schools = sorted_district_summary.head(5)
top_5_schools

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [24]:
#Lowest-Performing Schools (by % Overall Passing)
bottom_schools = district_summary.sort_values('% Overall Passing', ascending=True)

bottom_schools = bottom_schools.head(5)

bottom_schools

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [25]:
# Math Scores by Grade
average_math_scores = school_data_complete.groupby(['school_name', 'grade'])['math_score'].mean()

# GroupBy object to  DataFrame
average_math_scores = average_math_scores.reset_index()

#  column is a grade level and each row represents a school
average_math_scores = average_math_scores.pivot(index='school_name', columns='grade', values='math_score')

average_math_scores = average_math_scores[['9th', '10th', '11th', '12th']]

average_math_scores

grade                        9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [26]:
#Reading Scores by Grade
average_reading_score = school_data_complete.groupby(['school_name','grade'])['reading_score'].mean()

average_reading_score = average_reading_score.reset_index()

average_reading_score = average_reading_score.pivot(index='school_name', columns ='grade', values ='reading_score')

average_reading_score = average_reading_score[['9th', '10th', '11th', '12th']]

average_reading_score

grade                        9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171